@import '../../scss/variables';
@import '../../scss/libs/normalize';
.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.left_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
}
.right__content {
  background-color: rgb(252, 252, 252);
  height: 100%;
  width: 45%;
  border-radius: 0 45px 45px 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 14px;
}
.pizza_image {
  width: 400px;
}
.pizza__selector {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 100%;

  ul {
    display: flex;
    flex: 1;
    background-color: rgb(243, 243, 247);
    padding: 2px;
    border-radius: 25px;
    overflow: hidden;
    &:first-of-type {
      margin-bottom: 6px;
    }

    li {
      padding: 6px;
      flex: 1;
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      font-size: 14px;
      transition: 0.5s;
      @include noselect();

      &.active {
        background: #ffffff;
        box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
        border-radius: 25px;
        cursor: auto;
      }
    }
  }
}
.pizza__structure {
  font-size: 14px;
  color: #7b7b7b;
}
.pizza__description {
  font-size: 14px;
}
.pizza__products {
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}
