.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  padding-left: 40px;
  width: 300px;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.2s ease-in;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 400px;
  }
}
.root {
  position: relative;
}
.icon {
  width: 28px;
  height: 28px;
  opacity: 0.8;
  position: absolute;
  top: 10px;
  left: 10px;
}
